<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
             <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Açık Teklifler Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Anasayfa</a></li>
                        <li class="active">Açık Teklifler</li>
                    </ol>
                </section>
                <!-- Main content -->
                <input id="inpFirmCode" type="text" style="display:none;" value="<%=session.user.firmCode%>">
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                   <div id="custom-search-input">
                                                        <div class="input-group">
                                                            <input id="inpOfferTopic" type="text"  class=" form-control" placeholder="Teklif Konusu" />
                                                            <span class="input-group-btn">
                                                                <a class="btn btn-danger search" type="button">
                                                                    <span class=" glyphicon glyphicon-search"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                   <div id="custom-search-input">
                                                        <div class="input-group">
                                                            <input id="inpCustomerName" type="text"  class=" form-control" placeholder="Müşteri Adı" />
                                                            <span class="input-group-btn">
                                                                <a class="btn btn-danger search" type="button">
                                                                    <span class=" glyphicon glyphicon-search"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                   <div id="custom-search-input">
                                                        <div class="input-group">
                                                            <input id="inpOfferDate" type="date"  class=" form-control" placeholder="Tarih" />
                                                            <span class="input-group-btn">
                                                                <a class="btn btn-danger search" type="button">
                                                                    <span class=" glyphicon glyphicon-search"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <select name="" id="" class="form-control">
                                                        <option value="">1</option>
                                                        <option value="">2</option>
                                                        <option value="">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered tblOpenOffer">
                                                        <tr style="border-bottom:3px solid #3c8dbc; border-top:3px solid #3c8dbc;">
                                                            <th class="text-center" style="width: 40px">#</th>
                                                            <th>Teklif Konusu</th>
                                                            <th>Müşteri Adı</th>
                                                            <th>Teklif Durumu</th>
                                                            <th>Tarih</th>
                                                            <th>İşlemi Yapan</th>
                                                            <th class="text-center" style="width:170px;"></th>
                                                        </tr>
                                                        <tbody id="tableOpenOffers">
                                                           <%for(var i=0;i<offers.length;i++){%>
                                                            <tr id="<%=offers[i]._id%>" custId="<%=offers[i].customerInfo.customerId%>">
                                                            <td class="text-center"><%=(i+1)%>.</td>
                                                            <td><%=offers[i].offerTopic%></td>
                                                            <td id="<%=offers[i].customerId%>"><%=offers[i].customerInfo.customerName%></td>
                                                             <td>
                                                               <select id="slctOrderStatus<%=offers[i]._id%>" class="form-control">
                                                                <%for(var j=0;j<orderStatuses.length;j++){%>
                                                                <option id="<%=orderStatuses[j].order%>" value="<%=orderStatuses[j].offerStatus%>" <%if(orderStatuses[j].offerStatus == offers[i].offerStatus){%> selected <%}%>><%=orderStatuses[j].offerStatus%></option>
                                                                <%}%>
                                                               </select>
                                                            </td>
                                                            <td><%=offers[i].offerDate%></td>
                                                            <td id="<%=offers[i].personPrepareOfferInfo.personName%>"><%=offers[i].personPrepareOfferInfo.personName%></td>
                                                            <td  id="<%=offers[i]._id%>">
                                                               
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-primary btn-flat">İşlem</button>
                                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                        <span class="caret"></span>
                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                    </button>
                                                                    <ul class="dropdown-menu " role="menu">
                                                                        <li>
                                                                            <a class=" edit"> <i class="fa fa-search"></i> İncele</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="" class="note"  data-toggle="modal" data-target="#modal_note"> <i class="fa fa-pencil"></i> Aktivite Ekle</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="" class="remember" data-toggle="modal" data-target="#modal_remind"> <i class="fa fa-bell-o"></i> Hatırlatma Ekle</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="" class="accept" data-toggle="modal" data-target="#modal_close"> <i class="fa fa-check"></i> Bitir</a>
                                                                        </li>
                                                                        <li>
                                                                             <a class="save"> <i class="fa fa-save"></i> Kaydet</a>
                                                                        </li>
                                                                        <li>
                                                                             <a class="createPdf">  <i class="fa fa-download"></i> PDF Olustur</a>
                                                                        </li>
                                                                        <li>
                                                                             <a class="sendMail" <%if(offers[i].pdfInfo.pdfStatus == "false"){%> disabled<%}else{%> data='<%=offers[i].pdfInfo.pdfUrl%>' <%}%>><i class="fa fa-envelope-o"></i> Mail Gönder </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                               
                                                            </td>
                                                        </tr>
                                                        <%}%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                        </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        <!--Modal-->
        <div class="modal fade" id="modal_note" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Aktivite Ekle</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="inpOfferIdNoteModal" type="text" class="form-control" style="display:none;">
                        <div class="form-group">
                            <label for=""> Aktivite Tarihi </label>
                            <input id="inpNoteDate" type="date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for=""> Aktivite Sahibi </label>
                            <select id="slctActivityOwnerNote" class="form-control" data='<%=session.user._id%>'>
                                <%for(var i = 0; i < users.length; i++){%>
                                    <option value="<%=users[i]._id%>"><%=users[i].name%> <%=users[i].surname%></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for=""> Aktivite </label>
                            <textarea id="txtOfferNote" rows="2" class="form-control" style="resize:vertical;"></textarea>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Kapat</button>
                <button id="btnAddNote" type="button" class="btn btn-primary btn-flat" data-dismiss="modal">Kaydet</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="modal_remind" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Hatırlatma Ekle</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="inpOfferIdRememberModal" type="text" class="form-control" style="display:none;">
                        <div class="form-group">
                            <label for=""> Aktivite Sahibi </label>
                            <select id="slctActivityOwnerRemember" class="form-control" data='<%=session.user._id%>'>
                                <%for(var i = 0; i < users.length; i++){%>
                                    <option value="<%=users[i]._id%>"><%=users[i].name%> <%=users[i].surname%></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for=""> Hatırlatma Nedeni</label>
                            <input id="inpRecallReason" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for=""> Hatırlatma Tarihi </label>
                            <input id="inpRecallDate" type="date" class="form-control">
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal" id="btnHatirlatma">Kaydet</button>
              </div>
            </div>
          </div>
        </div>
        
        <div id="modalAcceptOffer" class="modal fade" id="modal_close" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Teklifi Bitirme Nedeni</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                    <input type="text" id='inpOfferIdModal' style='display:none;'>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""> Teklifi Onaylayan </label>
                            <select id="slctAcceptPerson" class="form-control" data='<%=session.user._id%>'>
                                <option value="<%=session.user.name%> <%=session.user.surname%>"><%=session.user.name%> <%=session.user.surname%></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for=""> Sevkiyat Adresi </label>
                            <select id="slctForwardingAddress" class="form-control">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for=""> Sonuç </label>
                            <select id="slctOfferCase" class="form-control">
                                <option value="" selected disabled>Seçiniz</option>
                                <option value="kazanilmis">Kazanılmış</option>
                                <option value="kaybedilmis">Kaybedilmiş</option>
                            </select>
                        </div>
                        <div id="divKaybeden" style="display:none;">
                            <div class="form-group">
                                <label for=""> Kazanan Firma </label>
                                <input type="text" id="inpWinFirm" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for=""> Kaybetme Nedeni </label>
                                <select id="slctLosingReason" class="form-control">
                                    <option value="" selected disabled>Seçiniz</option>
                                    <%for(var i = 0; i < losingReasons.length; i++){%>
                                        <option value="<%=losingReasons[i].losingReason%>"><%=losingReasons[i].losingReason%></option>
                                    <%}%>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Kapat</button>
                <button id="btnUpdateOfferCase" type="button" class="btn btn-primary btn-flat">Kaydet</button>
              </div>
            </div>
          </div>
        </div>
        
       <div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-warning">
                        <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4> Bilgi Maili Gönder</h4>
                    </div>
                    <form id="formSendMailModal" action="/wssendmail" method="post">
                        <input type="text" style="display:none;" id="mailModalAttachs" name="attachment">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> E-mail 1 </label>
                                    <input name="email" type="email" class="form-control" placeholder="E-mail 1 Giriniz" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> E-mail 2 </label>
                                    <input name="email2" type="email" class="form-control" placeholder="E-mail 2 Giriniz">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> E-mail 2 </label>
                                    <input name="email3" type="email" class="form-control"  placeholder="E-mail 3 Giriniz">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> Açıklama </label>
                                    <textarea name="emailDesc" rows="4" style="resize:vertical;" class="form-control" placeholder="Açıklama Giriniz"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btnMailModalSubmit" type="submit" class="btn btn-primary btn-flat"> Mail Gönder</button>
                            <button type="button" class="btn btn-default btn-flat " data-dismiss="modal">Kapat</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
       <%include ../partial-pages/script.ejs%>
       <script src="../js/utility-js/jquery.blockUI.js"></script>
       <script src="../js/helper-js/Helper.js"></script>
       <script src="../js/pages-js/OpenOffers.js"></script>
    </body>
</html>