<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/customer_master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/customer_master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
             <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Teklif Oluşturma Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/musteri_anasayfa"><i class="fa fa-home"></i> Anasayfa</a></li>
                        <li class="active">Teklif Oluşturma</li>
                    </ol>
                </section>
                <!-- Main content -->
             
               <input id="inpFirmCode" type="text" style="display:none;" value="<%=session.customer.firmCode%>">
                 <section class="content">
                 <div id="divOffer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <!-- form start -->
                                    <form id="formOffer" role="form" method="post" action="<%if(operation == 'update'){%>/wsoffer/b2bupdate<%}else{%>/wsoffer/b2badd<%}%>">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Teklif No</label>
                                                        <input name="_id" type="text" style="display:none;" value='<%if(operation == "update"){%><%=offer._id%><%}%>'>
                                                        <input disabled type="text" class="form-control " name="offerNo"  placeholder="Teklif No otomatik doldurulacaktir" <%if(operation == "update"){%> value="<%=offer.offerNo%>"<%}%>>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Teklif Tarihi</label>
                                                        <input id="inpOfferDate" type="date" class="form-control " name="offerDate"  placeholder="Teklif Tarihi Giriniz" <%if(operation == "update"){%> value="<%=offer.offerDate%>"<%}%>>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group ">
                                                                <label>Müşteri Adı</label>
                                                                <select name="customerId" id="selectCustomer" class="form-control">
                                                                    <option value="<%=session.customer._id%>" ><%=session.customer.customerName%></option>
                                                                </select>
                                                                <input name="customerName" id="inpCustName" style="display:none;" value="<%=session.customer.customerName%>">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group ">
                                                                <label>Alt Müşteri Adı</label>
                                                                <select name="childCustomerId" id="selectCustomer" class="form-control">
                                                                    <option id="optChilCustomerId" <%if(operation == "update"){%> value="<%=offer.childCustomerInfo.childCustomerId%>"<%}%>><%if(operation == "update"){%><%=offer.childCustomerInfo.childCustomerName%><%}%></option>
                                                                </select>
                                                                <input name="childCustomerName" id="inpChildCustomerName" style="display:none;" <%if(operation == "update"){%>value="<%=offer.childCustomerInfo.childCustomerName%>"<%}%>>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="">
                                    <!-- Custom Tabs -->
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs">
                                            <li class="active wizard"><a href="#tab_1" data-toggle="tab">Yetkili Bilgileri</a></li>
                                            <li class="wizard"><a href="#tab_2" data-toggle="tab">İletişim Bilgileri</a></li>
                                            <li class="wizard"><a href="#tab_3" data-toggle="tab">Ürün Seçimi</a></li>
                                            <li class="wizard"><a href="#tab_4" data-toggle="tab">Ürün Sepeti</a></li>
                                            <li class="wizard"><a href="#tab_5" data-toggle="tab">Ödeme Bilgileri</a></li>
                                        </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                    <div id="divCompetent" class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    <label>Yetkili</label>
                                                                       <%if(operation=='update'){
                                                                           var competentInfoIndex=-1;
                                                                        }%>
                                                                        <select id="slctCompetent" name="competentId" type="text"  class="form-control">
                                                                            <option value="Seçiniz" selected disabled>Yetkili Seçiniz</option>
                                                                             <%if(operation=='update'){%>
                                                                               <%for(var i=0;i<session.customer.competentInfo.length;i++){%>
                                                                               <option <%if(session.customer.competentInfo[i]._id==offer.competentInfo.competentId){ competentInfoIndex=i;%> selected <%}%>value="<%=session.customer.competentInfo[i]._id%>" ><%=session.customer.competentInfo[i].name%></option>
                                                                               <%}%>
                                                                            <%}%>
                                                                        </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Yetkili Adı</label>
                                                                    <input id="inpCompetentInfoName" type="text"disabled class="form-control compName" placeholder="Yetkili Adı Giriniz" <%if(operation=='update' && competentInfoIndex != -1){%>value="<%=session.customer.competentInfo[competentInfoIndex].name%>"<%}%>>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Görev</label>
                                                                    <input id="inpCompetentInfoTask" type="text" disabled class="form-control compTask"   placeholder="Görevi Giriniz" <%if(operation=='update' && competentInfoIndex != -1){%>value="<%=session.customer.competentInfo[competentInfoIndex].task%>"<%}%>>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>GSM</label>
                                                                    <input id="inpCompetentInfoGsm"  type="text" disabled class="form-control compGsm" data-inputmask='"mask": "(999) 999-9999"' data-mask  placeholder="Telefon Giriniz" <%if(operation=='update' && competentInfoIndex != -1){%>value="<%=session.customer.competentInfo[competentInfoIndex].gsm%>"<%}%>>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >E-mail</label>
                                                                    <input id="inpCompetentInfoEmail" type="email" disabled class="form-control compEmail"  placeholder="E-mail Giriniz" <%if(operation=='update' && competentInfoIndex != -1){%>value="<%=session.customer.competentInfo[competentInfoIndex].email%>"<%}%>>
                                                                </div>
                                                            </div><!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div style="text-align:center;">
                                                                <a href="#tab_2" data-toggle="tab" class="btn btn-primary next"> İleri</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.tab-pane -->
                                                <div class="tab-pane" id="tab_2">
                                                    <div id="divContact" class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    <label >Adres</label>
                                                                    <textarea id="inpContactInfoAddress" type="text" class="form-control contAddress" disabled rows="2" style="resize:vertical;" <%if(operation=='update'){%>value="<%=session.customer.contactInfo.address%>"<%}%>><%if(operation=='update'){%><%=session.customer.contactInfo.address%><%}%></textarea>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label >İl</label>
                                                                            <input id="inpContactInfoCity" type="text" disabled class="form-control" <%if(operation=='update'){%>value="<%=session.customer.contactInfo.city%>"<%}%>>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label >İlçe</label>                                                                                                                                                                                                 <input id="inpContactInfoState" type="text" disabled class="form-control" <%if(operation=='update'){%>value="<%=session.customer.contactInfo.state%>"<%}%>>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                
                                                                <div class="form-group">
                                                                    <label >İş Tel</label>
                                                                    <input id="inpContactInfoBusinessPhone" type="text" class="form-control contTel" name="contactInfoBusinessPhone" data-inputmask='"mask": "(999) 999-9999"' data-mask disabled <%if(operation=='update'){%>value="<%=session.customer.contactInfo.businessPhone%>"<%}%>>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Fax</label>
                                                                    <input id="inpContactInfoFax" type="text" class="form-control contFax" data-inputmask='"mask": "(999) 999-9999"' data-mask disabled <%if(operation=='update'){%>value="<%=session.customer.contactInfo.fax%>"<%}%>>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Web Adresi</label>
                                                                    <input id="inpContactInfoWeb" type="text" class="form-control contWeb" disabled <%if(operation=='update'){%>value="<%=session.customer.contactInfo.webAddress%>"<%}%>>
                                                                </div>
                                                            </div><!-- /.box-body -->
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div style="text-align:center;">
                                                                    <a href="#tab_3" data-toggle="tab" class="btn btn-primary next"> İleri</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.tab-pane -->
                                                <div class="tab-pane" id="tab_3">
                                                    <div id="divProduct" class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    <label for="">Ürün Grubu</label>
                                                                    <select name="productGroup" id="productGroup" class="form-control">
                                                                        <option style="padding-left:0px;" value="empty" >Seçiniz</option>
                                                                           <%for(var i = 0; i < productGroups.length; i++){%>
                                                                            <option value="<%=productGroups[i]._id%>"><%=productGroups[i].productGroupName%></option>
                                                                          <%}%>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Ürün Adı</label>    
                                                                    <select name="" id="selectProduct" class="form-control">
                                                                        <option value="Seçiniz" disabled selected>Ürün Seçiniz</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <label for="" style="margin-bottom:15px;">Girmek İstediğiniz Değeri Seçiniz</label>
                                                                            <div class="row">
                                                                                <div class="col-md-12 no-padding">
                                                                                    <div class="col-md-3">
                                                                                        <a id="btnRect" class="btn btn-default btn-flat btn-block">Dikdörtgen</a>                                                                                    
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <a id="btnCir" class="btn-block btn btn-default btn-flat" >Dairesel</a>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <a id="btnOther" class="btn-block btn btn-default btn-flat" >Diger</a>
                                                                                    </div>
                                                                                    <div class="col-md-3">
                                                                                        <select id="slctUnit" class="form-control">
                                                                                            <option selected disabled value="">Birim Seciniz</option>
                                                                                            <%for(var i = 0; i < units.length; i++){%>
                                                                                               <option value="<%=units[i].unit%>"><%=units[i].unit%></option> 
                                                                                            <%}%>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                   <input id="inpSizeType" style="display:none;">
                                                                   <input id="inpBasket" name="basket" style="display:none;" <%if(operation=="update"){%>value="<%=JSON.stringify(offer.basket)%>"<%}%>> 
                                                                    <div id="divRec" class="row" style="display:none;">
                                                                        <div class="col-md-12 no-padding">
                                                                            <div class="col-md-3">
                                                                                <input id="inpEn" type="number" value="0" class="form-control" placeholder="En Giriniz">
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <input id="inpYukseklik" type="number" value="0" class="form-control" placeholder="Yükselik Giriniz">
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <input id="inpBoy" type="number" value="0" class="form-control" placeholder="Boy Giriniz">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="divCir" class="row" style="display:none;">
                                                                        <div class="col-md-12 no-padding">
                                                                            <div class="col-md-3">
                                                                                <input id="inpCap" type="number" value="0" class="form-control" placeholder="Çap Giriniz">
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <input id="inpUzunluk" type="number" value="0" class="form-control" placeholder="Boy Giriniz">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="divOther" class="row" style="display:none;">
                                                                        <div class="col-md-12 no-padding">
                                                                            <div class="col-md-3">
                                                                                <input id="inpAdet" type="number" value="0" class="form-control" placeholder="Adet Giriniz">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label for="">Montaj Şekli</label>
                                                                            <select id="montageType" class="form-control">
                                                                                <option style="padding-left:0px;" data='0' >Seçiniz</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label for="">Kaplama Şekli</label>
                                                                            <select id="coverType" class="form-control">
                                                                                <option style="padding-left:0px;" data='0' >Seçiniz</option>
                                                                                   <%for(var i = 0; i < coverTypes.length; i++){%>
                                                                                    <option data="<%=coverTypes[i].cost%>" value="<%=coverTypes[i].coverType%>"><%=coverTypes[i].coverType%></option>
                                                                                  <%}%>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label for="">Ayar Mekanizması</label>
                                                                            <select id="setMechanism" class="form-control">
                                                                                 <option style="padding-left:0px;" data='0' >Seçiniz</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label for="">Aksesuar</label>
                                                                            <select id="accessory" class="form-control">
                                                                                <option style="padding-left:0px;" data='0' >Seçiniz</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label for="">Kasa Tipi</label>
                                                                            <select  id="bodyType" class="form-control">
                                                                                <option style="padding-left:0px;" data='0' >Seçiniz</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Miktar</label>
                                                                    <input type="text" class="form-control" id="amount" placeholder="Miktar Giriniz" value='0'>
                                                                </div>
                                                                <input id="inpDiscount" type="text" style="display:none;">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <a id="btnAddBasket" class="btn btn-success btn-flat" id="btnAddChart">Sepete Ekle</a>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div style="text-align:center;">
                                                                <a href="#tab_4" data-toggle="tab" class="btn btn-primary next"> İleri</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.tab-pane -->
                                                <div class="tab-pane" id="tab_4">
                                                    <div id="divProductChart" class="row">
                                                        <div class="col-md-12">
                                                            <div class="box-body table-scroll">
                                                                <table id="tblProduct" class="table table-bordered table-condensed table-responsive">
                                                                    <tr style="border-bottom:3px solid #3c8dbc; border-top:3px solid #3c8dbc;">
                                                                        <th style="width:40px">#</th>
                                                                        <th>Ürün Kodu</th>
                                                                        <th>Ürün Adi</th>
                                                                        <th>Ölçüler </th>
                                                                        <th>Montaj Şekli</th>
                                                                        <th>Kaplama Şekli</th>
                                                                        <th>Ayar Mekanizması</th>
                                                                        <th>Aksesuar</th>
                                                                        <th>Kasa Tipi</th>
                                                                        <th style="width:40px">Miktar</th>
                                                                        <th>Liste Fiyati</th>
                                                                        <th colspan="2">Iskontolu Birim Fiyati</th>
                                                                        <th style="width:40px">Tutar</th>
                                                                        <th style="width:40px"> </th>
                                                                    </tr>
                                                                    <tbody id="tableBasket">
                                                                        <%if(operation=='update'){%>
                                                                        <%for(var i=0;i<offer.basket.length;i++){%>
                                                                            <tr id="<%=offer.basket[i]._id%>">
                                                                            <td><%=(i+1)%></td>
                                                                            <td><%=offer.basket[i].productCodes%></td>
                                                                            <td><%=offer.basket[i].productGroup%> - <%=offer.basket[i].productName%></td>
                                                                            <%if(offer.basket[i].productSizeType=='Dikdörtgen'){%>
                                                                            <td><%=offer.basket[i].productSizeWidthOrDiameter%> x <%=offer.basket[i].productSizeHeight%> x <%=offer.basket[i].productSizeLength%><font size="1" color="blue">  (genişlik*yükseklik*uzunluk)</font></td>
                                                                            <%}else{%>
                                                                            <td><%=offer.basket[i].productSizeWidthOrDiameter%> x <%=offer.basket[i].productSizeLength%> <font size="1" color="blue">  (çap*uzunluk)</font></td>
                                                                            <%}%>
                                                                            <td><%=offer.basket[i].montageType%></td>
                                                                            <td><%=offer.basket[i].coverType%></td>
                                                                            <td><%=offer.basket[i].setMechanism%></td>
                                                                            <td><%=offer.basket[i].accessory%></td>
                                                                            <td><%=offer.basket[i].bodyType%></td>
                                                                            <td><%=offer.basket[i].amount%> <%=offer.basket[i].unit%></td>
                                                                            <td><%=offer.basket[i].productListPrice%></td>
                                                                            <td style="width:40px">% <%=offer.basket[i].lineDiscount%></td>
                                                                            <td style="width:80px"><%=offer.basket[i].productPriceWithDiscount%></td>
                                                                            <td><%=offer.basket[i].productPrice%></td>
                                                                            <td><button class="btn btn-danger btn-flat btn-sm remove"><i class="fa fa-trash-o"></i></button></td>
                                                                        </tr>
                                                                        <%}%>
                                                                        <%}%>
                                                                    </tbody>


                                                                </table>
                                                                <table class="table table-condensed table-bordered table-responsive" style="width:100%;">
                                                                    <tr>
                                                                        <td class="col-md-11">
                                                                            <span class="pull-right">Genel İskonto</span>
                                                                        </td>
                                                                        <td class="col-md-1">
                                                                            <input id="generalDiscount" type="text" class="form-control" name="generalDiscount"<%if(operation == "update"){%> value="<%=offer.cost.generalDiscount%>"<%}else{%><%}%>>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="col-md-11">
                                                                            <span class="pull-right">Tutar</span>
                                                                        </td>
                                                                        <td class="col-md-1">
                                                                            <input  type="text" class=" form-control" name="sum" id="productSum" <%if(operation == "update"){%> value="<%=offer.cost.sum%>"<%}%>>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="col-md-11">
                                                                            <span class="pull-right">K.D.V</span>
                                                                        </td>
                                                                        <td class="col-md-1">
                                                                            <input type="text"  class="form-control" name="productKDV" id="productKDV" <%if(operation == "update"){%> value="<%=offer.cost.kdv%>"<%}%>>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="col-md-11">
                                                                            <span class="pull-right">Toplam</span>
                                                                        </td>
                                                                        <td class="col-md-1">
                                                                             <input type="text" class="form-control" name="total" id="productTotal" <%if(operation == "update"){%> value="<%=offer.cost.total%>"<%}%>>
                                                                        </td>
                                                                    </tr>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div style="text-align:center;">
                                                                <a href="#tab_5" data-toggle="tab" class="btn btn-primary next"> İleri</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab_5">
                                                    <div id="divPayMethod" class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    <label >Ödeme Şekli</label>
                                                                    <select name="payMethod" id="" class="form-control" >
                                                                        <option value="Nakit" <%if(operation == "update" && offer.payMethod.payMethod=="Nakit" ){%>selected<%}%>>Nakit</option>
                                                                        <option value="Çek" <%if(operation == "update" && offer.payMethod.payMethod=="Çek" ){%>selected<%}%>>Çek</option>
                                                                        <option value="Kredi Kartı" <%if(operation == "update" && offer.payMethod.payMethod=="Kredi Kartı" ){%>selected<%}%>>Kredi Kartı</option>
                                                                        <option value="Senet" <%if(operation == "update" && offer.payMethod.payMethod=="Senet" ){%>selected<%}%>>Senet</option>
                                                                        <option value="Devir" <%if(operation == "update" && offer.payMethod.payMethod=="Devir" ){%>selected<%}%>>Devir</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Vade</label>
                                                                    <select name="vade" id="" class="form-control" >
                                                                        <option value="0" disabled selected>Seçiniz</option>
                                                                        <%for(var i = 0; i < 6; i++){%>
                                                                            <option value="<%=(i+1)*30%>" <%if(operation == "update" && offer.payMethod.vade == ((i+1)*30).toString() ){%>selected<%}%>><%=(i+1)*30%></option>
                                                                        <%}%>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Not</label>
                                                                    <textarea class="form-control" type="text" name="note" rows="2" placeholder="Not Giriniz" style="resize:vertical;" <%if(operation == "update"){%> value="<%=offer.note%>"<%}%>><%if(operation == "update"){%><%=offer.payMethod.note%><%}%></textarea>
                                                                </div>
                                                            </div><!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div style="text-align:center;">
                                                                <button type="submit" class="btn btn-primary">Kaydet</button>
                                                                <a id="btnPdfYazdir" target="_blank" class="btn btn-info" <%if(operation=="update"){%>href="/teklif_yazdir?id=<%=offer._id%>&code=<%=session.customer.firmCode%>"<%}else{%>disabled<%}%>>PDF Yazdır</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- /.tab-content -->
                                    </div><!-- nav-tabs-custom -->
                                </div><!-- /.col -->
                            </div><!-- /.box -->
                        </div>
                    </div>
                </div>
             </section>
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
         <div class="modal fade" id="modalYeniMusteriEkle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-warning">
                        <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4>Müşterilerim</h4>
                    </div>
                          <div class="modal-body">
                            <div id="divMusteriList">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <select name="" id="slctMusteriListesi" class="form-control" >
                                            <option value="Seçiniz">Lütfen Müşteri Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <button id="btnYeniMusteri" class="btn btn-success btn-flat">Yeni Müşteri Ekle</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                          <form id="frmMusteri" method="post">
                           <div id="divYeniMusteri" style="display:none;">
                           <input style="display:none;" id="inpFirma" name="ekleyenFirma" value="<%=session.customer.customerName%>">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="">Firma Adı :</label>
                                    <input name="firmaAdi" type="text" class="form-control" placeholder="Firma Adı Giriniz">
                                </div>
                                <div class="col-xs-6">
                                    <label for="">Yetkili Adı :</label>
                                    <input name="yetkiliAdi" type="text" class="form-control" placeholder="Yetkili Adı Giriniz" >
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for=""> Telefon No: </label>
                                    <input name="tel" type="tel" class="form-control" placeholder="Müşteri Telefon numarası giriniz">
                                </div>
                                <div class="col-xs-6">
                                    <label for=""> E-mail: </label>
                                    <input name="fax" type="text" class="form-control" placeholder="Müşteri e-mail adresini giriniz">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for=""> Vergi Dairesi: </label>
                                    <input name="vergiDairesi" type="text" class="form-control" placeholder="Firmanın bağlı olduğu vergi dairesi giriniz">
                                </div>
                                   <div class="col-xs-6">
                                    <label for=""> Vergi No: </label>
                                    <input name="vergiNo" type="text" class="form-control" placeholder="firma vergi numarasını giriniz">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="">Firma Adresi: </label>
                                    <textarea name="firmaAdresi" rows="3" style="resize:vertical;"  class="form-control" placeholder="firma adresi giriniz"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="">Sevkiyat Bilgileri: </label>
                                    <textarea name="sevkiyat" rows="3" style="resize:vertical;" class="form-control"  placeholder="Ürün sevkiyat bilgileri giriniz"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> Not : </label>
                                    <textarea name="not" rows="3" style="resize:vertical;" class="form-control" placeholder="Açıklama(opsiyonel)"></textarea>
                                </div>
                            </div>
                          </div><!-- /.yeni müsteri div -->
                          <br>
                          <button id="btnSubmitModal" type="submit" class="btn btn-primary btn-flat"> Kaydet</button>
                          <button type="button" class="btn btn-default btn-flat " data-dismiss="modal">Kapat</button>
                          </form>
                        </div>
                        <div class="modal-footer">
                            
                        </div>
                 </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
       <%include ../partial-pages/script.ejs%>
       <script src="../js/helper-js/Helper.js"></script>
       <script src="../js/pages-js/b2bOfferPage.js"></script>
    </body>
</html>