<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
        <link href="../css/utility-css/bootstrap-wysihtml5/bootstrap3-wysihtml5.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/customer_master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/customer_master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
             <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Müşteri Tanımı Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/musteri_anasayfa"><i class="fa fa-home"></i> Anasayfa</a></li>
                        <li class="active">Müşteri Tanımı</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <!-- form start -->
                                    <form id="frmB2bCustomerDefinition" role="form" method="post" action="/wscustomerdefinition/b2bupdate">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Firma Ünvanı</label>
                                                        <input type="text" class="form-control " name="customerTitle"  placeholder="Firma Ünvanı Giriniz" value="<%=customer.customerTitle%>" required>
                                                        <input id="inpCustDefId" style="display:none;" name="_id" value="<%=customer._id%>">
                                                        <input  style="display:none;" name="firmCode" value="<%=customer.firmCode%>">
                                                        <input  style="display:none;" name="discountInfo" value="<%=customer.discountInfo%>">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div class="form-group ">
                                                        <label>Müşteri Adı</label>
                                                        <input type="text" class="form-control " name="customerName"  placeholder="Müşteri Adı Giriniz" value="<%=customer.customerName%>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div>
                                                        <div class="form-group">
                                                            <label>Müşteri Grubu</label>
                                                            <input type="text" class="form-control " name="customerGroup"  placeholder="Müşteri Adı Giriniz" value="<%=customer.customerGroup%>" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-1">
                                                    <div>
                                                        <div class="form-group">
                                                            <label>Müşteri Temsilcisi</label>
                                                            <input type="text" class="form-control " name="customerAgent"  placeholder="Müşteri Adı Giriniz" value="<%=customer.customerAgent%>" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="">
                                    <!-- Custom Tabs -->
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_1" data-toggle="tab">Yetkili Bilgileri</a></li>
                                            <li><a href="#tab_2" data-toggle="tab">İletişim Bilgileri</a></li>
                                            <li><a href="#tab_3" data-toggle="tab">Fatura Bilgileri</a></li>
                                            <li><a href="#tab_4" data-toggle="tab">Sevkiyat Bilgileri</a></li>
                                        </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                  <div class="row">
                                                        <div class="col-md-12">
                                                            <a id="btnAddCompetent" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                   <div id="divAddCompetent" class="row" style="display:none;">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    <label >Yetkili Adı</label>
                                                                    <input id="inpCompetentName" name="custDefCompetentName" type="text" class="form-control"  placeholder="Yetkili Adı Giriniz" value="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Görev</label>
                                                                    <input id="inpCompetentTask" type="text" name="custDefCompetentTask" class="form-control"  placeholder="Görevi Giriniz" value="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>GSM</label>
                                                                    <input id="inpCompetentGsm" type="text" name="custDefCompetentGsm" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask  placeholder="Telefon Giriniz" value="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >E-mail</label>
                                                                    <input id="inpCompetentEmail" type="email" name="custDefCompetentEmail" class="form-control"  placeholder="E-mail Giriniz" value="">
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="pull-left">
                                                                            <a id="btnAddCompetentInfo" class="btn btn-flat btn-success btn-flat"><i class="fa fa-plus" style="margin-left:5px;"></i> Yetkili Ekle </a>
                                                                        </div>
                                                                        <div id="divEditCompetentInfo" class="pull-left" style="display:none;">
                                                                            <a id="btnEditCompetentInfo" class="btn btn-flat btn-primary btn-flat"> Güncelle </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                    <input style="display:none;" id="inpCompetentInfo" name="competent" value="<%=JSON.stringify(customer.competentInfo)%>">
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="table-scroll">
                                                                <table class="table table-bordered " >
                                                                    <thead>
                                                                        <tr style="border-bottom:3px solid #3c8dbc; border-top:3px solid #3c8dbc;" >
                                                                           <th style="width:50px">#</th>
                                                                            <th>Yetkili Adı</th>
                                                                            <th>Görev</th>
                                                                            <th>GSM</th>
                                                                            <th>E-mail</th>
                                                                            <th style="width:100px"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tableCompetentInfo">
                                                                          <%for(var i=0;i<customer.competentInfo.length;i++){%>
                                                                                <tr id="<%=(i+1)%>">
                                                                                    <td><%=(i+1)%></td>
                                                                                    <td><%=customer.competentInfo[i].name%></td>
                                                                                    <td><%=customer.competentInfo[i].task%></td>
                                                                                    <td><%=customer.competentInfo[i].gsm%></td>
                                                                                    <td><%=customer.competentInfo[i].email%></td>
                                                                                    <td><a class="btn btn-danger btn-flat btn-sm remove"><i class="fa fa-trash-o"></i></a><span> </span><a class="btn btn-info btn-sm edit"><i class="fa fa-pencil"></i></a></td>
                                                                                </tr>    
                                                                          <%}%>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.tab-pane -->
                                                <div class="tab-pane" id="tab_2">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    <label >Adres</label>
                                                                    <textarea id="inpContactAddress" name="custDefContactAddress" type="text" class="form-control"  placeholder="Adres Giriniz" rows="2" style="resize:vertical;"><%=customer.contactInfo.address%></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >İl</label>
                                                                    <select id="slctContactCity" name="custDefContactCity" class="form-control">
                                                                    <option style="padding-left:0px;" >Seçiniz</option>
                                                                    <%for(var i = 0; i < respCity.length; i++){%>
                                                                         <option id="<%=respCity[i]._id%>" <%if(customer.contactInfo.city == respCity[i].city){%>selected<%}%> value="<%= respCity[i].city%>"><%= respCity[i].city%></option>
                                                                    <%}%>   
                                                                </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >İlçe</label>
                                                                        <select id="slctContactState" class="form-control" name="custDefContactState">
                                                                             <option style="padding-left:0px;" >Seçiniz</option>
                                                                             <%for(var i = 0; i < respCity.length; i++){%>
                                                                              <%if(customer.contactInfo.city == respCity[i].city){%>
                                                                                 <%for(var j = 0; j < respCity[i].towns.length; j++){%>
                                                                                        <option id="<%=respCity[i].towns[j]._id%>"<%if(customer.contactInfo.state == respCity[i].towns[j].townName){%>selected<%}%> value="<%= respCity[i].towns[j].townName%>"><%= respCity[i].towns[j].townName%></option>
                                                                    <%}%>
                                                                            <%}%> 
                                                                            <%}%>  
                                                                        </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >İş Tel</label>
                                                                    <input id="inpContactBusinessTel" name="custDefContactBusinessPhone" type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask  placeholder="İş Tel Giriniz" value="<%=customer.contactInfo.businessPhone%>">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Fax</label>
                                                                    <input id="inpContactFax" type="text" name="custDefContactFax" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask  placeholder="Fax Giriniz" value="><%=customer.contactInfo.fax%>">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Web Adresi</label>
                                                                    <input id="inpContactWeb" type="text" name="custDefContactWebAdress" class="form-control"  placeholder="http://www." value="<%=customer.contactInfo.webAddress%>">
                                                                </div>
                                                            </div><!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                </div><!-- /.tab-pane -->
                                                <div class="tab-pane" id="tab_3">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    <label >Fatura Adresi</label>
                                                                    <textarea type="text" class="form-control" name="custDefBillAddress"  placeholder="Adres Giriniz" rows="2" style="resize:vertical;" value="<%=customer.billInfo.adress%>">><%=customer.billInfo.address%></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >İl</label>
                                                                    <select id="slctBillCity" name="custDefBillCity" class="form-control">
                                                                       <option style="padding-left:0px;" >Seçiniz</option>
                                                                    <%for(var i = 0; i < respCity.length; i++){%>
                                                                         <option id="<%=respCity[i]._id%>" <%if(customer.billInfo.city == respCity[i].city){%>selected<%}%> value="<%=respCity[i].city%>"><%=respCity[i].city%></option>
                                                                    <%}%>  
                                                                </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >İlçe</label>
                                                                    <select id="slctBillState" class="form-control" name="custDefBillState">
                                                                             <option style="padding-left:0px;" >Seçiniz</option>
                                                                             <%for(var i = 0; i < respCity.length; i++){%>
                                                                              <%if(customer.contactInfo.city == respCity[i].city){%>
                                                                                 <%for(var j = 0; j < respCity[i].towns.length; j++){%>
                                                                                        <option id="<%=respCity[i].towns[j]._id%>"<%if(customer.billInfo.state == respCity[i].towns[j].townName){%>selected<%}%> value="<%= respCity[i].towns[j].townName%>"><%= respCity[i].towns[j].townName%></option>
                                                                            <%}%> 
                                                                        <%}%> 
                                                                     <%}%> 
                                                                        </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Vergi Dairesi</label>
                                                                    <input type="text" class="form-control" name="custDefBillTaxOffice"  placeholder="Vergi Dairesi Giriniz" value="<%=customer.billInfo.taxOffice%>">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Vergi No</label>
                                                                    <input type="text" class="form-control" name="custDefBillTaxNum"  placeholder="Vergi No Giriniz" value="<%=customer.billInfo.taxNum%>">
                                                                </div>
                                                            </div><!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                </div><!-- /.tab-pane -->
                                                <div class="tab-pane" id="tab_4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <a id="btnAddForwarding" class=" btn btn-primary btn-flat"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="row" >
                                                        <div id="divAddForwarding" class="col-md-10 col-md-offset-1" style="display:none;">
                                                            <div class="box-body">
                                                               <div class="form-group">
                                                                    <label >Adres Tanımı</label>
                                                                    <input id="inpForwardingLabel" type="text" class="form-control"  placeholder="Adres Tanımı Giriniz">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="">Teslim Şekli</label>
                                                                    <select id="slctForwardingInfoDeliverType" class="form-control">
                                                                        <option value="Seçiniz">Seçiniz</option>
                                                                        <option value="Kargo">Kargo</option>
                                                                        <option value="Posta">Posta</option>
                                                                        <option value="Sevkiyat Aracı">Sevkiyat Aracı</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >Sevkiyat Adresi</label>
                                                                    <textarea id="txtForwardingAddress" type="text" class="form-control"  placeholder="Adres Giriniz" rows="2" style="resize:vertical;"></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >İl</label>
                                                                    <select id="slctForwardingCity"  class="form-control">
                                                                     <option style="padding-left:0px;" value="Seçiniz">Seçiniz</option>
                                                                    <%for(var i = 0; i < respCity.length; i++){%>
                                                                         <option id="<%=respCity[i]._id%>" value="<%= respCity[i].city%>"><%= respCity[i].city%></option>
                                                                    <%}%>    
                                                                </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label >İlçe</label>
                                                                    <select id="slctForwardingState" class="form-control" name="custDefForwardingState">
                                                                        <option style="padding-left:0px;" value="Seçiniz" >Seçiniz</option>
                                                                    </select>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="pull-left">
                                                                            <a  id="btnAddForwardingInfo" class="btn btn-flat btn-success"><i class="fa fa-plus" style="margin-right:5px;"></i>Sevkiyat Ekle</a>
                                                                        </div>
                                                                        <div id="divEditForwardingInfo"  style="display:none;">
                                                                            <a id="btnEditForwardingInfo" class="btn btn-flat btn-primary btn-flat"> Güncelle </a>
                                                                         </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.box-body -->
                                                        </div>
                                                    </div>
                                                    <input style="display:none;" id="inpForwardingInfo" name="forwarding" value="<%=JSON.stringify(customer.forwardingInfo)%>">
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="table-scroll">
                                                                <table class="table table-bordered " >
                                                                    <thead>
                                                                        <tr style="border-bottom:3px solid #3c8dbc; border-top:3px solid #3c8dbc;" >
                                                                            <th style="width:50px">#</th>
                                                                            <th>Adres Tanımı</th>
                                                                            <th>Teslim Şekli</th>
                                                                            <th>Sevkiyat Adresi</th>
                                                                            <th>İl</th>
                                                                            <th>İlçe</th>
                                                                            <th style="width:100px"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tableForwardingInfo">
                                                                          <%for(var i=0;i<customer.forwardingInfo.length;i++){%>
                                                                                <tr id="<%=(i+1)%>">
                                                                                    <td><%=(i+1)%></td>
                                                                                    <td><%=customer.forwardingInfo[i].label%></td>
                                                                                    <td><%=customer.forwardingInfo[i].deliveryType%></td>
                                                                                    <td><%=customer.forwardingInfo[i].address%></td>
                                                                                    <td><%=customer.forwardingInfo[i].city%></td>
                                                                                    <td><%=customer.forwardingInfo[i].state%></td>
                                                                                    <td><a class="btn btn-danger btn-flat btn-sm remove"><i class="fa fa-trash-o"></i></a><span> </span><a class="btn btn-info btn-sm edit"><i class="fa fa-pencil"></i></a></td>
                                                                                </tr>    
                                                                          <%}%>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.tab-pane -->
                                                <div class="box-footer">
                                                    <div style="text-align:center;">
                                                        <button  class="btn btn-primary btnSubmit">Kaydet</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- /.tab-content -->
                                    </div><!-- nav-tabs-custom -->
                                </div><!-- /.col -->
                            </div><!-- /.box -->
                        </div>
                    </div>
                </div>
                    

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
       <%include ../partial-pages/script.ejs%>
       <script src="../js/helper-js/Helper.js"></script>
       <script src="../js/pages-js/b2bCustomerDefinitionPage.js"></script>
    </body>
</html>