<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Kullanıcı Tanımları Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Anasayfa</a></li>
                        <li class="active">Kullanıcı Tanımi</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <!-- form start -->
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group ">
                                                                    <label>Adı</label>
                                                                    <input id="inpId" style="display:none;">
                                                                    <input id="inpName" type="text" class="form-control req"  placeholder="Ad Giriniz">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group ">
                                                                    <label>Soyadı</label>
                                                                    <input id="inpSurname" type="text" class="form-control req"  placeholder="Soyad Giriniz">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>Rolü</label>
                                                                    <select id="inpRole" class="icon-menu btn-block btn-default" style="height:35px;">
                                                                        <option style="padding-left:0px;" value="Rol Seçiniz">Rol Seçiniz</option>
                                                                        <%for(var i = 0;i < roles.length; i++){%>
                                                                            <option value="<%=roles[i].act%>" ><%=roles[i].act%></option>
                                                                        <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label>Görevi</label>
                                                                    <select id="inpTask" class="icon-menu btn-block btn-default" style="height:35px;">
                                                                        <option style="padding-left:0px;" value="Görev Seçiniz">Görev Seçiniz</option>
                                                                        <%for(var i = 0;i < tasks.length; i++){%>
                                                                            <option ><%=tasks[i].task%></option>
                                                                        <%}%>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group ">
                                                                    <label>GSM</label>
                                                                    <input id="inpGsm" type="text" class="form-control req" data-inputmask='"mask": "(999) 999-9999"' data-mask  placeholder="GSM Giriniz">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row">
                                                            <form id="formPicture" method="post" action="/wspicture/upload" enctype="multipart/form-data">
                                                                <div class="col-md-2 col-md-offset-1 col-sm-12">
                                                                    <div class="">
                                                                        <div class="btn-group">
                                                                            <br>
                                                                            <img id="userPicture" src="../uploads/3df7051c2a31638ac8c2e86068432939eac2f518.png" class="img-responsive" style="max-height:250px; width:auto;" alt="">
                                                                            <input class="btn btn-flat" id="inpPictureUpload" type="file" name="image" accept="image/*"/>
                                                                            <button id="btnSavePicture" type="submit" class="btn btn-info btn-flat btn-block" type="button">Yükle</button>
                                                                        </div><!-- /input-group -->
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                            
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group ">
                                                    <label>Kullanıcı Adı</label>
                                                    <input id="inpEmail" type="email" class="form-control req"  placeholder="Kullanıcı Adı Giriniz">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group ">
                                                    <label>Parola</label>
                                                    <input id="userPass" type="password" class="form-control req"  placeholder="Parola Giriniz">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group ">
                                                    <label>Parola Tekrar</label>
                                                    <input id="userRePass" type="password" class="form-control"  placeholder="Parola Tekrar Giriniz">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group ">
                                                    <label>Aktif </label>
                                                    <p>
                                                        <input id="inpActive" type="checkbox" class="form-control" checked>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <input id="pictureUrl" style="display:none;">
                                    </div><!-- /.box-body -->
                                    <div class="box-footer">
                                        <div style="text-align:center">
                                            <button id="btnSave" class="btn btn-primary btn-flat">Kaydet</button>
                                        </div>
                                    </div>
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Kullanıcı Listeleme</h3>
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-bordered">
                                            <tr style="border-bottom:3px solid #3c8dbc;">
                                                <th class="text-center" style="width: 40px">#</th>
                                                <th>Adı Soyadı</th>
                                                <th>Rolü</th>
                                                <th>Görevi</th>
                                                <th>GSM</th>
                                                <th>E-posta - Kullanici adi</th>
                                                <th class="text-center" style="width: 60px">Aktif</th>
                                                <th class="text-center" style="width: 100px">Operasyon</th>
                                            </tr>
                                            <tbody id="userTable">
                                                <%for(var i = 0; i < users.length; i++){%>
                                                    <tr id="<%=users[i]._id%>">
                                                        <td class="text-center"><%=i+1%></td>
                                                        <td><%=users[i].name%> <%=users[i].surname%></td>
                                                        <td><%=users[i].role%></td>
                                                        <td><%=users[i].task%></td>
                                                        <td><%=users[i].gsm1%></td>
                                                        <td><%=users[i].email%></td>
                                                        <td class="text-center"><%if(users[i].isActive == 'no'){%><i style="color:#911E29;" class="fa fa-times"></i><%}else{%><i style="color:#0DA611;" class="fa fa-check"></i><%}%></td>
                                                        <td>
                                                            <button class="btn btn-info btn-sm btn-flat edit"><i class="fa fa-pencil"></i></button>
                                                            <%if( users[i].role != 'Administrator' && users[i]._id != session.user._id){%>
                                                                <button class="btn btn-danger btn-sm btn-flat remove"><i class="fa fa-trash-o"></i></button>
                                                            <%}%>
                                                        </td>
                                                    </tr>
                                                <%}%>
                                            </tbody>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
       <%include ../partial-pages/script.ejs%>
       <script src="../js/utility-js/jquery.blockUI.js"></script>
       <script src="../js/helper-js/Helper.js"></script>
       <script src="../js/pages-js/userDefinitionPage.js"></script>
    </body>
</html>