<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
             <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                        Onay Bekleyen Teklifler Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Anasayfa</a></li>
                        <li class="active">Onay Bekleyen Teklifler</li>
                    </ol>
                </section>
                <!-- Main content -->
                <input id="inpFirmCode" type="text" style="display:none;" value="<%=session.user.firmCode%>">
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                   <div id="custom-search-input">
                                                        <div class="input-group">
                                                            <input id="inpOfferTopic" type="text"  class=" form-control" placeholder="Teklif Konusu" />
                                                            <span class="input-group-btn">
                                                                <a class="btn btn-danger search" type="button">
                                                                    <span class=" glyphicon glyphicon-search"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                   <div id="custom-search-input">
                                                        <div class="input-group">
                                                            <input id="inpCustomerName" type="text"  class=" form-control" placeholder="Müşteri Adı" />
                                                            <span class="input-group-btn">
                                                                <a class="btn btn-danger search" type="button">
                                                                    <span class=" glyphicon glyphicon-search"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                   <div id="custom-search-input">
                                                        <div class="input-group">
                                                            <input id="inpOfferDate" type="date"  class=" form-control" placeholder="Tarih" />
                                                            <span class="input-group-btn">
                                                                <a class="btn btn-danger search" type="button">
                                                                    <span class=" glyphicon glyphicon-search"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <select name="" id="" class="form-control">
                                                        <option value="">1</option>
                                                        <option value="">2</option>
                                                        <option value="">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered tblOpenOffer">
                                                        <tr style="border-bottom:3px solid #3c8dbc; border-top:3px solid #3c8dbc;">
                                                            <th class="text-center" style="width: 40px">#</th>
                                                            <th>Teklif Konusu</th>
                                                            <th>Müşteri Adı</th>
                                                            <th>Teklif Tipi</th>
                                                            <th>Teklif Durumu</th>
                                                            <th>Tarih</th>
                                                            <th>İşlemi Yapan</th>
                                                            <th class="text-center" style="width:220px;"></th>
                                                        </tr>
                                                        <tbody id="tableOpenOffers">
                                                           <%for(var i=0;i<offers.length;i++){%>
                                                            <tr id="<%=offers[i]._id%>" custId="<%=offers[i].customerInfo.customerId%>">
                                                            <td class="text-center"><%=(i+1)%>.</td>
                                                            <td><%=offers[i].offerTopic%></td>
                                                            <td id="<%=offers[i].customerId%>"><%=offers[i].customerInfo.customerName%></td>
                                                            <td><%if(offers[i].state=="sistem"){%>Sistem<%}else{if(offers[i].childCustomerInfo.childCustomerId==""){%>B2b firma<%}else{%><a href="javascript:void(0)" class="childCustomer" data="<%=offers[i].childCustomerInfo.childCustomerId%>">B2B alt Firma(tıkla)</a><%}%><%}%></td>
                                                             <td>
                                                               <select id="slctOrderStatus<%=offers[i]._id%>" class="form-control">
                                                                <%for(var j=0;j<orderStatuses.length;j++){%>
                                                                <option id="<%=orderStatuses[j].order%>" value="<%=orderStatuses[j].offerStatus%>" <%if(orderStatuses[j].offerStatus == offers[i].offerStatus){%> selected <%}%>><%=orderStatuses[j].offerStatus%></option>
                                                                <%}%>
                                                               </select>
                                                            </td>
                                                            <td><%=offers[i].offerDate%></td>
                                                            <td id="<%=offers[i].personPrepareOfferInfo.personName%>"><%=offers[i].personPrepareOfferInfo.personName%></td>
                                                            <td class="text-center" id="<%=offers[i]._id%>">
                                                               <a class="btn btn-info btn-flat edit btn-sm"><i class="fa fa-search"></i></a>
                                                               <a class="btn btn-warning  btn-flat btn-sm confirmOffer"><i class="fa fa-check"></i></a>
                                                               <a class="btn btn-success btn-flat btn-sm save"><i class="fa fa-save"></i></a>
                                                               <a class="btn btn-success btn-flat btn-sm createPdf"><i class="fa fa-download"></i></a>
                                                               <a class="btn btn-primary btn-flat btn-sm sendMail" <%if(offers[i].pdfInfo.pdfStatus == "false"){%> disabled<%}else{%> data='<%=offers[i].pdfInfo.pdfUrl%>' <%}%>><i class="fa fa-envelope-o"></i></a>
                                                            </td>
                                                        </tr>
                                                        <%}%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                        </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        
       <div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-warning">
                        <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4> Bilgi Maili Gönder</h4>
                    </div>
                    <form id="formSendMailModal" action="/wssendmail" method="post">
                        <input type="text" style="display:none;" id="mailModalAttachs" name="attachment">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> E-mail 1 </label>
                                    <input name="email" type="email" class="form-control" placeholder="E-mail 1 Giriniz" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> E-mail 2 </label>
                                    <input name="email2" type="email" class="form-control" placeholder="E-mail 2 Giriniz">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> E-mail 2 </label>
                                    <input name="email3" type="email" class="form-control"  placeholder="E-mail 3 Giriniz">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> Açıklama </label>
                                    <textarea name="emailDesc" rows="4" style="resize:vertical;" class="form-control" placeholder="Açıklama Giriniz"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btnMailModalSubmit" type="submit" class="btn btn-primary btn-flat"> Mail Gönder</button>
                            <button type="button" class="btn btn-default btn-flat " data-dismiss="modal">Kapat</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
         <div class="modal fade" id="modalYeniMusteriEkle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-warning">
                        <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4>Müşterilerim</h4>
                    </div>
                          <div class="modal-body">
                            <br>
                           <div id="divYeniMusteri">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="">Firma Adı :</label>
                                    <input name="firmaAdi" type="text" class="form-control" placeholder="Firma Adı Giriniz">
                                </div>
                                <div class="col-xs-6">
                                    <label for="">Yetkili Adı :</label>
                                    <input name="yetkiliAdi" type="text" class="form-control" placeholder="Yetkili Adı Giriniz" >
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for=""> Telefon No: </label>
                                    <input name="tel" type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask placeholder="Müşteri Telefon numarası giriniz">
                                </div>
                                <div class="col-xs-6">
                                    <label for=""> E-mail: </label>
                                    <input name="email" type="text" class="form-control" placeholder="Müşteri e-mail adresini giriniz">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for=""> Vergi Dairesi: </label>
                                    <input name="vergiDairesi" type="text" class="form-control" placeholder="Firmanın bağlı olduğu vergi dairesi giriniz">
                                </div>
                                   <div class="col-xs-6">
                                    <label for=""> Vergi No: </label>
                                    <input name="vergiNo" type="text" class="form-control" placeholder="firma vergi numarasını giriniz">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="">Firma Adresi: </label>
                                    <textarea name="firmaAdresi" rows="3" style="resize:vertical;"  class="form-control" placeholder="firma adresi giriniz"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="">Sevkiyat Bilgileri: </label>
                                    <textarea name="sevkiyat" rows="3" style="resize:vertical;" class="form-control"  placeholder="Ürün sevkiyat bilgileri giriniz"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for=""> Not : </label>
                                    <textarea name="not" rows="3" style="resize:vertical;" class="form-control" placeholder="Açıklama(opsiyonel)"></textarea>
                                </div>
                            </div>
                          </div><!-- /.yeni müsteri div -->
                          
                          <br>
                          <div class="pull-right">
                              <button type="button" class="btn btn-default btn-flat " data-dismiss="modal">Kapat</button>
                          </div>
                        </div>
                        <br>
                        <div class="modal-footer"></div>
                 </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
       <%include ../partial-pages/script.ejs%>
       <script src="../js/utility-js/jquery.blockUI.js"></script>
       <script src="../js/helper-js/Helper.js"></script>
       <script src="../js/pages-js/WaitConfirmOffers.js"></script>
    </body>
</html>