<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                       Ürün Listeleme Ekranı
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Anasayfa</a></li>
                        <li class="active">Ürün Listeleme</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <!-- form start -->
                                    <div class="box-body"> 
                                        <div class="row">
                                            <div class="col-md-3">
                                               <div id="custom-search-input">
                                                    <select id='slgroup' class="form-control" id="">
                                                        <option value="Ürün Grubu Seçiniz">Ürün Grubu Seçiniz</option>
                                                        <%for(var i = 0; i < productGroup.length; i++){%>
                                                            <option value="<%=productGroup[i].productGroupName%>"><%=productGroup[i]. productGroupName%></option>
                                                        <%}%>                                                     
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                               <div id="custom-search-input">
                                                    <div class="input-group">
                                                        <input id="inpProductName" type="text" class="search-query form-control" placeholder="Ürün Adı" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger search" type="button">
                                                                <span class=" glyphicon glyphicon-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                               <div id="custom-search-input">
                                                    <div class="input-group">
                                                        <input id="inpProductCode" type="text" class=" search-query form-control" placeholder="Ürün Kodu" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-danger search" type="button">
                                                                <span class=" glyphicon glyphicon-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <select class="form-control" id="">
                                                    <option value="">1</option>
                                                    <option value="">2</option>
                                                    <option value="">3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <table class="table table-bordered ">
                                            <tr style="border-bottom:3px solid #3c8dbc; border-top:3px solid #3c8dbc;">
                                                <th class="text-center" style="width: 40px">#</th>
                                                <th>Ürün Kodu</th>
                                                <th>Ürün Grup Adı</th>
                                                <th>Ürün Adı</th>
                                                <th>Ürün Resmi</th>
                                                <th class="text-center" style="width: 100px">Operasyon</th>
                                            </tr>
                                            <tbody id="tableProducts">
                                            <%for(var i = 0;i < products.length; i++){%>
                                                <tr id="<%=products[i]._id%>">
                                                    <td class="text-center"><%=(i+1)%></td>
                                                    <td><%=products[i].code%></td>
                                                    <td><%=products[i].group%></td>
                                                    <td><%=products[i].name%></td>
                                                    <td class="text-center">
                                                        <a  href="#" data-toggle="modal" data-target="#lightbox">
                                                            <img src="<%=products[i].pictureUrl%>" class="img-responsive img-center" style="width:auto; height:30px;">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-info btn-sm edit btn-flat"><i class="fa fa-pencil"></i></button>
                                                        <button class="btn btn-danger btn-sm remove btn-flat"><i class="fa fa-trash-o"></i></button>
                                                    </td>
                                                </tr>
                                            <%}%>
                                            </tbody>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        
        <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" alt="" />
                    </div>
                </div>
            </div>
        </div>
       <%include ../partial-pages/script.ejs%>
       <script src="../js/helper-js/Helper.js"></script>
       <script src="../js/pages-js/ProductList.js"></script>
    </body>
</html>